.poll-card {
  margin: 20px;
  width: 18em;
  min-height: 130px;
  opacity: 0.8;
  border-radius: 10px;
  transition: all 0.5s ease-in; /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

.card-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.poll-card:hover {
  opacity: 1;
}

.poll-card:hover .pass-btn {
  opacity: 1;
  height: auto;
  visibility: visible;
}

.poll-card:hover .card-text {
  opacity: 1;
  visibility: visible;
  margin-top: 10px;
  height: auto;
}

.pass-btn {
  color: white;
  opacity: 0;
  transition: all 0.5s ease-in;
  align-self: flex-end;
  visibility: hidden;
}

.card-text {
  transition: all 0.5s ease-in;
  position: absolute;
  padding: 4px;
  top: 0;
  right: 0;
  max-height: 30%;
  overflow: hidden;
  opacity: 0;
  height: 0;
  visibility: hidden;
  color: white;
  background-color: rgba(0, 0, 0, 0.747);
}

.card-title {
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Staatliches", cursive;
}

.cards {
  margin: 10px 60px 10px 20px;
}

.card-columns {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 4;
}

.poll-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
