.user-content {
    width: 800px;
    margin: 0 auto;
    padding: 20px 20px 60px 20px;
    background-color: rgba(23, 163, 184, 0.05);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.user-about {
    margin-top: 20px;
}

.sized-textarea {
    max-height: 250px;
    min-height: 50px;
}

.user-pic {
    height: 260px;
    width: 260px;
    border-radius: 50%;
    border: solid #5bc0de;
    margin-bottom: 20px;
}

.username {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 25px;
    font-family: 'Staatliches', cursive;
    margin-bottom: 30px;
}

.main-user-info {
    padding: 10px 0 10px 50px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.user-polls-link {
    color: rgba(23, 163, 184, 1);
}

.user-polls-link:hover {
    color: rgb(13, 108, 122);
    text-decoration: none;
}

.change-user-photo-btn {
    width: 120px;
    margin: 0 auto;
}

.update-user-btn {
    float: right;
}

.update-success-alert {
    width: fit-content;
    right: 15px;
    position: absolute;
    bottom: 0;
}