body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(49, 49, 49);
    max-height: 90%;
}

.custom-radio .custom-control-label::before {
    background-color: white;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before, .custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: rgba(23, 163, 184, 1);
    border-radius: 50%;
}

.custom-radio .custom-control-input:active~.custom-control-label::before {
    color: #fff;
    background-color: rgba(23, 163, 184, 1);
}

.custom-radio .custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(23, 163, 184, 0.1);
}

.hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.13);
}

a:hover {
    text-decoration: none;
}

.form-control {
    border: none;
}

.form-control:disabled, .form-control[readonly] {
    background-color: rgba(255, 255, 255, 0.5);
}

.main-content {
    width: 900px;
    margin-top: 40px;
    margin: 0 auto;
}

.row-flex {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    justify-content: space-between;

}

.column-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description {
    max-height: 200px;
}
.bottom-button{
  margin-bottom: 20px;    
}