.question {
    justify-content: space-between;
    background-color: rgba(23, 163, 184, 0.05);
    border-width: 1px;
    border-radius: 5px;
    padding: 15px 0;
    margin: 10px 0;
}

.send-btn {
    float: right;
}