.login-form {
  width: 420px;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  /* background-color: rgba(23, 163, 184, 0.05); */
}

.action-btn {
  margin-bottom: 16px;
}

.alert-login-error {
  width: fit-content;
  right: 15px;
  bottom: 0;
  position: absolute;
}

.login-form-control {
  background-color: rgba(23, 163, 184, 0.05);
}
