.question-chart {
    width: 150px;
}

.question-stat-content {
    margin: 50px 0 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    background-color: rgba(23, 163, 184, 0.05);
}

.question-stat-title {
    width: 560px;
}

.question-stat-choices{
    width: 100px;
    padding: 10px;
}